body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}
.float-left{
    float:left;
}
.margin-left-5px{
    margin-left:5px;
}
.margin-5px{
    margin:5px;
}
.fullSize{
    height:100%;
    width:100%;
}
