<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
      <servlet-name>definitionServiceImpl</servlet-name>
      <servlet-class>uk.ac.ebi.chebi.ontology.web.server.DefinitionServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>definitionServiceImpl</servlet-name>
      <url-pattern>/uk.ac.ebi.chebi.ontology.web.Ontology/DefinitionService</url-pattern>
    </servlet-mapping>
</web-app>
